<link href="https://fonts.googleapis.com/css?family=Lexend+Zetta&display=swap" rel="stylesheet"> 

<!-- Footer -->
<footer class="footer_container page-footer font-small pt-5">
    <div class="container">
        <h1 class="footer_header">Get In Contact.</h1>
    </div>
    <!-- Footer Links -->
    <div class="footer_links_container container-fluid">
        <div class="footer_links_row row text-center d-flex justify-content-center pt-5 mb-3">
            <div class="col-md-2 mb-3">
                <h6 class="footer_site_links">
                <a class="contact_links" routerLink="about" routerLinkActive="active_router_link">About</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="footer_site_links">
                <a class="contact_links" routerLink="portfolio" routerLinkActive="active_router_link">Portfolio</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="footer_site_links">
                <a class="contact_links" routerLink="contact" routerLinkActive="active_router_link">Contact</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="footer_site_links">
                <a class="contact_links" routerLink="resume" routerLinkActive="active_router_link">Resume</a>
                </h6>
            </div>
        </div>
    </div>
    <hr class="splitter">
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
        <div class="copyright mt-10  py-4">© 2019 James Ward. All rights reserved. Full Stack
            Developer and Craft Beer Enthusiast.
        </div>
    </div>
    <div class="footer_links_container container-fluid">
        <div class="footer_links_row row text-center d-flex justify-content-center pt-5 mb-3">
            <div class="col-md-1 mb-3">
                <a class="contact_links" href="https://www.linkedin.com/in/james-ward-742377109/">
                    <i class="icon fa fa-linkedin fa-lg"></i>
                </a>
            </div>
            <div class="col-md-1 mb-3">
                <a class="contact_links" href="https://github.com/SemajDraw">
                    <i class="icon fa fa-github fa-2x"></i>
                </a>
            </div>
            <div class="col-md-1 mb-3">
                <a class="contact_links" href="#!" data-toggle="modal" data-target="#exampleModalCenter"><i class="icon fa fa-envelope fa-lg"></i></a>
            </div>
        </div>
    </div>
      
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>
</footer>
