<link href="https://fonts.googleapis.com/css?family=Lexend+Zetta&display=swap" rel="stylesheet"> 

<!-- Footer -->
<footer class="footer_container page-footer font-small pt-5">
    <div class="container">
        <h1 class="footer_header">Get In Contact.</h1>
    </div>
    <!-- Footer Links -->
    <div class="footer_links_container container-fluid">
        <div class="footer_links_row row text-center d-flex justify-content-center pt-5 mb-3">
            <div class="col-md-2 mb-3">
                <h6 class="footer_site_links">
                <a class="contact_links" routerLink="about">About</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="footer_site_links">
                <a class="contact_links" routerLink="portfolio">Portfolio</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="footer_site_links">
                <a class="contact_links" routerLink="contact">Contact</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="footer_site_links">
                <a class="contact_links" routerLink="resume">Resume</a>
                </h6>
            </div>
        </div>
    </div>
    <hr class="splitter">
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
        <div class="copyright mt-10  py-4">© 2019 James Ward. All rights reserved. Full Stack
            Developer and Craft Beer Enthusiast.
        </div>
    </div>
    <div class="footer_links_container container-fluid">
        <div class="footer_links_row row text-center d-flex justify-content-center pt-5 mb-3">
            <div class="col-md-1 mb-3">
                <a class="contact_links" href="https://www.linkedin.com/in/james-ward-742377109/">
                    <i class="icon fa fa-linkedin fa-lg"></i>
                </a>
            </div>
            <div class="col-md-1 mb-3">
                <a class="contact_links" href="https://github.com/SemajDraw">
                    <i class="icon fa fa-github fa-2x"></i>
                </a>
            </div>
            <div class="col-md-1 mb-3">
                <a class="contact_links" href="#!"><i class="icon fa fa-envelope fa-lg"></i></a>
            </div>
        </div>
    </div>
</footer>
