
<div class="row no-gutters">

        <div class="col-md-6 no-gutters">
            <div class="left_side_image">
                <div class="left_side_shadow">
                    <h2>Hello World! I'm</h2>
                    <br>
                    <h1>JAMES.</h1>
                    <br>
                    <h3>DUBLIN BASED WEB DEVELOPER.</h3>
                    <br>
                    <p>I'm a full stack developer based in Dublin Ireland. I</p>
                    <p>love music, food and fitness.</p>
                    <br>
                    <p>If you want to know more keep looking, or if you want to</p>
                    <p>get in contact...</p>
                    <button>Hit Me Up</button>
                </div>
            </div>
        </div>
    
        <div class="col-md-6 no-gutters">
            <div class="right_side">
                <div class="row no-gutters top">
                    <div class="top_left">
                        <img class="top_left_image" src="../../assets/images/header/linkedin.png">
                    </div>
                    <div class="top_right">
                        <img class="top_right_image" src="../../assets/images/header/github.png">
                    </div>
                </div>
                <div class="row no-gutters bottom">
                    <div class="bottom_left">
                        
                    </div>
                    <div class="bottom_right">
                            <img class="bottom_right_image" src="../../assets/images/header/me.jpeg">
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    