@media screen and (min-width: 768px)
{
    .left_side, .right_side {
        height: 100vh;
    }
}

.left_side, .right_side {
    height: 100vh;
    width: 100%;
}

.left_side_image {
    /* background-image:  url("../../assets/images/header/leftBackground.jpg"); */
    background-repeat: no-repeat;
    background-position: center-top;
    width: 100%; 
    height: 100%;
}

.left_side_shadow {
    width: 100%; 
    height: 100%;
    background: #020c16;
    opacity: 0.9;
} 

.top {
    width: 100%;
    height: 40%;
}

.top_left {
    width: 50%;
    height: 100%;
    background: red;
}

.top_left_image {
    height: 100%;
    width: 100%;
}

.top_right {
    width: 50%;
    height: 100%;
}

.top_right_image {
    height: 100%;
    width: 100%;
}

.bottom {
    width: 100%;
    height: 60%;
}

.bottom_left {
    width: 50%;
    height: 100%;
    background: yellow;
}

.bottom_right {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(45deg, #8dbad1 0%, #b8c5ce  50%, #8dbad1 100%);
}

.bottom_right_image {
    background-repeat: no-repeat;
    position: relative;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    width: 80%; 
    height: 80%;
}
