.my_navbar {
    position: absolute;
    width: 100%;
    z-index: 999;
    background: transparent;
    border: 0;
    border-radius: 0;
}

#home_icon {
    color: white;
}

#home_icon:hover {
    color: #ffae00 !important;
}

.navbar .navbar-nav li > a {
    color: white;
}

.navbar .navbar-nav li > a:hover {
    color: #ffae00 !important;
}

.active_router_link {
    color: #ffae00 !important;
}


.my_brand {
    font-family: 'Lexend Zetta';
    font-size: 1.3em;
    font-weight: 300;
    padding-left: 5%;
    color: white;
}

.my_brand:hover {
    font-family: 'Lexend Zetta';
    font-size: 1.3em;
    font-weight: 300;
    padding-left: 5%;
    color: #ffae00;
}

.nav_container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'Lexend Zetta';
    font-weight: 200;
    font-size: 1.3em;
    background: transparent;
}

.avatar_div {
    padding-right: 5%;
}
