<div id="projects_fluid" class="container-fluid">
    <div class="row">
        <div class="github_div">
            <a class="links" href="https://github.com/SemajDraw">
                <img class="github_image" src="../../assets/images/portfolio/tech-icons/github-icon.png">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-4 repo-col">
            <a class="links" href="https://github.com/SemajDraw/brokerage-service-ui">
                <div class="repo_container">
                    <div class="image_div">
                        <img class="repo_image" src="../../assets/images/portfolio/tech-icons/angular.png">
                    </div>
                    <div class="text_div">
                        <h1 class="text_h">Brokerage Service Frontend</h1>
                        <p class="text_p">An Angular / Typescript application that allows for the registration of
                            insurance brokerages.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-4 repo-col">
            <a class="links" href="https://github.com/SemajDraw/brokerage-service-api">
                <div class="repo_container">
                    <div class="image_div">
                        <img class="repo_image" src="../../assets/images/portfolio/tech-icons/spring-boot-icon.svg">
                    </div>
                    <div class="text_div">
                        <h1 class="text_h">Brokerage Service Backend</h1>
                        <p class="text_p">A Spring Boot microservice that handles all requests from the the
                            Brokerage Service Frontend.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-4 repo-col">
            <a class="links" href="https://github.com/SemajDraw/scada-cad-application">
                <div class="repo_container">
                    <div class="image_div">
                        <img class="repo_image" src="../../assets/images/portfolio/tech-icons/cpp-icon.png">
                    </div>
                    <div class="text_div">
                        <h1 class="text_h">SCADA Water Treatment CAD</h1>
                        <p class="text_p">Final year project in Electronics and Communications engineering.
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-4 repo-col">
            <a class="links" href="https://github.com/SemajDraw/WebMappingCA2">
                <div class="repo_container">
                    <div class="image_div">
                        <img class="repo_image" src="../../assets/images/portfolio/tech-icons/ionic-logo.png">
                    </div>
                    <div class="text_div">
                        <h1 class="text_h">Gig Finder</h1>
                        <p class="text_p">An early iteration of my Computer Science final year project.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-4 repo-col">
            <a class="links" href="https://localgigs.org/">
                <div class="repo_container">
                    <div class="image_div">
                        <img class="repo_image django" src="../../assets/images/portfolio/tech-icons/django-icon.png">
                    </div>
                    <div class="text_div">
                        <h1 class="text_h">Localgigs</h1>
                        <p class="text_p">Fianl year project in Computer Science
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-4 repo-col">
            <a class="links" href="https://github.com/SemajDraw/leetcode_solutions">
                <div class="repo_container">
                    <div class="image_div">
                        <img class="repo_image" src="../../assets/images/portfolio/tech-icons/python-icon.png">
                    </div>
                    <div class="text_div">
                        <h1 class="text_h">Leetcode Solutions</h1>
                        <p class="text_p">Solutions to some of the algorithmic problems on leetcode.com
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
