<div id="info_fluid" class="container-fluid">
    <div class="info_container container">
        <div class="text_div row">
            <div class="col-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <h1 class="info_header">What I've done & what I can do</h1>
                            <br>
                        </tr>
                        <tr>
                            <p class="info_paragraph">Feel free to take a deeper look at what I've
                                accomplished over the years, the different projects I have worked on,
                                my education and importantly what I may be able to offer you. My online resume
                                goes over the standard items please feel free to download a copy for future reference.
                            </p>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="button_container container">
                    <div class="button_div">
                        <button class="buttons btn btn-light">Portfolio</button>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="button_container container">
                    <div class="button_div">
                        <button class="buttons btn btn-light">Resume</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
