<link href="https://fonts.googleapis.com/css?family=Lexend+Zetta&display=swap" rel="stylesheet"> 

<div class="info_fluid container-fluid">
    <div class="info_container container d-flex p-5">
        <div class="text_div col-md-12">
            <div class="text_flex_container flex-container">
                <h1 class="info_header">What I've done & what I can do</h1>
                <br>
                <p class="info_paragraph">Feel free to take a deeper look at what I've 
                    accomplished over the years, the different projects I have worked on,
                    my education and importantly what I may be able to offer you. My online resume
                    goes over the standard items please feel free to download a copy for future reference.
                </p>
                <br>
                <div class="col-md-12">
                    <div class="button_container flex-container">
                        <div class="button_div">
                            <button class="buttons btn btn-light">Portfolio</button>
                            <button class="buttons btn btn-light">Resume</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
