<div id="info_fluid" class="container-fluid">
    <div id="info_container" class="container">
        <div id="wrapper">
            <div class="text_div row no-gutters">
                <div class="col-12">
                    <table id="text_table" class="table-borderless">
                        <tbody>
                        <tr>
                            <h1 class="info_header">A taste of whats to come</h1>
                            <br>
                        </tr>
                        <tr>
                            <p class="info_paragraph">Below you can find links to my
                                <a class="info_paragraph info_link" href="https://github.com/SemajDraw">GitHub </a>
                                repository where I have a few of the projects I have worked on
                                in recent years. The source code for most of these projects is freely accessible. If you
                                have any questions about my projects or anything else please
                                <a class="info_paragraph info_link" href="contact">get in touch</a>.</p>
                            <br>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
