<div class="container-fluid passion_container_fluid">
    <div class="passion_container">
        <div class="row">
            <div class="col-md left_side">
                <div class="container left_side_container">
                    <a href="http://www.localgigs.org">
                        <img class="left_side_image" src="../../../../assets/images/passion/localgigs.png"/>
                        <div class="middle">
                            <div class="text"><p>Current Project</p></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md right_side">
                <div class="container right_side_container">
                    <div class="right_side_text">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <h1 class="right_side_header">My passion and focus is Full Stack development, great
                                    music, delicious coffee and keeping fit.
                                    </h1>
                                </tr>
                                <tr>
                                    <p class="right_side_body">I'm a true engineer at heart, always looking for a problem to
                                        solve! I love the feeling of accomplishment found in deciphering perplexing problems
                                        and producing elegant solutions. If I am not building beautiful responsive websites,
                                        intelligent APIs or complex predictive analytics systems you can find me jamming out
                                        with my friends or working out in the gym.
                                    </p>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
