
<div class="resume_header">
    <div class="image_container">
        <img class="image" src="../../assets/images/resume/resume.jpg">
        <div class="image_text">
            <h1 class="image_header">The Technical Stuff</h1>
        </div>
    </div>
</div>
<div class="resume_content">
    <div class="resume_container container-fluid">
        <div class="resume_grid col-md-12">
            <div class="row technologies_row">
                <div class="title_col col-md-4">
                    <div class="title_container">
                        <div class="title_block">
                            <h2 class="titles">Technologies</h2>
                        </div>
                    </div>
                </div>
                <div class="details_col col-md-8">
                    <div class="row">
                        <div class="comfort_experience col-md-6 ">
                            <h2 class="headers">Day-To-Day Comfort</h2>
                            <ul class="technologies_lists">
                                <li class="list_items">Python</li>
                                <li class="list_items">Java</li>
                                <li class="list_items">SQL</li>
                                <li class="list_items">HTML / CSS</li>
                                <li class="list_items">Django</li>
                                <li class="list_items">Spring Boot</li>
                                <li class="list_items">Angular</li>
                                <li class="list_items">Docker</li>
                                <li class="list_items">Amazon Web Services</li>
                                <li class="list_items">Javascript / Typescript</li>
                                <li class="list_items">Agile Methodology</li>
                                <li class="list_items">Version Control (GIT)</li>
                                <li class="list_items">Linux / MacOS / Windows</li>
                            </ul>
                        </div>
                        <div class="comfort_experience col-md-6">
                            <h2 class="headers">Experience With</h2>
                            <ul class="technologies_lists">
                                <li class="list_items">C++</li>
                                <li class="list_items">Data Analytics / Recommendation Systems</li>
                                <li class="list_items">Data Mining / Web Scraping</li>
                                <li class="list_items">Pandas</li>
                                <li class="list_items">Matlab</li>
                                <li class="list_items">Pspice</li>
                                <li class="list_items">Node.js</li>
                                <li class="list_items">GraphQL</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="padding_div_container">
                <div class="padding_div"></div>
            </div>
            <div class="row work_experience_row">
                <div class="title_col col-md-4">
                    <div class="title_container">
                        <div class="title_block">
                            <h2 class="titles">Work Experience</h2>
                        </div>
                    </div>
                </div>
                <div class="details_col col-md-8">
                    <div class="experience_container container-fluid">
                        <h3 class="headers work_headers">Software Engineer (Associate)</h3>
                        <p class="work_paragraphs">
                            <strong class="strong_header">Liberty Information Technology, Dublin, August 2019 - Present</strong>
                            <br>
                            I am currently working in Liberty Information Technology as a full stack Software Engineer.
                            The primary tech stack i am working with is Java Spring, Python Serverless, Angular, Docker,
                            Kafka and Amazon Web Services.
                            <br>
                            <br>
                        </p>

                        <h3 class="headers work_headers">Software Engineer (Intern)</h3>
                        <p class="work_paragraphs">
                            <strong class="strong_header">Liberty Information Technology, Dublin, February 2018 - September 2018</strong>
                            <br>
                            I am currently working in Liberty Information Technology as a full stack Software Engineer.
                            The primary tech stack i am working with is Java Spring, Python Serverless, Angular, Docker,
                            Kafka and Amazon Web Services.
                            <br>
                            <br>
                        </p>

                        <h3 class="headers work_headers">Store Manager</h3>
                        <p class="work_paragraphs">
                            <strong class="strong_header">Discount Supplements, Dublin, November 2015 - June 2019</strong>
                            <br>
                            During my time working in Discount Supplements I honed my skills as a communicator, adviser,
                            and salesman. In-depth knowledge of sports nutrition and supplementation was required which I developed over my 4-year tenure.
                            The business is highly customer-centric and a large emphasis is placed on providing fantastic
                            customer experience and satisfaction. Trust Pilot currently has a rating of 5/5 stars for Discount
                            Supplements. I also learned many valuable management skills as the shop is operated by one
                            employee at a time, I balanced the cash register and sales books, placed large stock orders,
                            trained new employees and provided recommendations to the owners on products to stock, product
                            placement, potential products to incorporate and much more.
                        </p>
                    </div>
                </div>
            </div>
            <div class="padding_div_container">
                <div class="padding_div"></div>
            </div>
            <div class="row education_row">
                <div class="title_col col-md-4">
                    <div class="title_container">
                        <div class="title_block">
                            <h2 class="titles">Education</h2>
                        </div>
                    </div>
                </div>
                <div class="details_col col-md-8">
                    <div class="experience_container container-fluid">

                        <h3 class="headers work_headers">Computer Science</h3>
                        <p class="work_paragraphs">
                            <strong class="strong_header">Technological University Dublin, 2017 - 2019</strong>
                        </p>
                        <div class="row">
                            <div class="education_col col-md-4">
                                <h2 class="headers">Year 4</h2>
                                <ul class="technologies_lists education_lists">
                                    <li class="list_items">Advanced Security 1</li>
                                    <li class="list_items">Advanced Security 2</li>
                                    <li class="list_items">Advanced Web Mapping</li>
                                    <li class="list_items">Enterprise Application Development</li>
                                    <li class="list_items">Fourth Year Project</li>
                                    <li class="list_items">Geographical Info Systems</li>
                                    <li class="list_items">Machine Learning for Data Analytics</li>
                                    <li class="list_items">System and Database Admin</li>
                                    <li class="list_items">Systems Integration</li>
                                </ul>
                            </div>
                            <div class="education_col col-md-4">
                                <h2 class="headers">Year 3</h2>
                                <ul class="technologies_lists education_lists">
                                    <li class="list_items">Cloud Computing</li>
                                    <li class="list_items">Databases 2</li>
                                    <li class="list_items">Mobile Software Development</li>
                                    <li class="list_items">Networking 4-WAN Technologies</li>
                                    <li class="list_items">Networking Programming</li>
                                    <li class="list_items">Web Development & Deployment</li>
                                    <li class="list_items">Work Placement</li>
                                </ul>
                            </div>
                            <div class="education_col col-md-4">

                            </div>
                        </div>
                        <div class="padding_div_container">
                            <div class="padding_div"></div>
                        </div>
                        <h3 class="headers work_headers">Electronics & Communications Engineering</h3>
                        <p class="work_paragraphs">
                            <strong class="strong_header">Technological University Dublin, 2013 - 2017</strong>
                        </p>
                        <div class="row">
                            <div class="education_col col-md-4">
                                <h2 class="headers">Year 3</h2>
                                <ul class="technologies_lists education_lists">
                                    <li class="list_items">Communications Systems 1</li>
                                    <li class="list_items">Communications Systems 2</li>
                                    <li class="list_items">DSP Applicationsg</li>
                                    <li class="list_items">Electronics 2</li>
                                    <li class="list_items">Mathematics 3.1</li>
                                    <li class="list_items">Mathematics 3.2</li>
                                    <li class="list_items">Project</li>
                                    <li class="list_items">Software Design 2</li>
                                </ul>
                            </div>
                            <div class="education_col col-md-4">
                                <h2 class="headers">Year 2</h2>
                                <ul class="technologies_lists education_lists">
                                    <li class="list_items">Circuits and Devices 2</li>
                                    <li class="list_items">Digital Communications Eng 1</li>
                                    <li class="list_items">Digital Communications Eng 2</li>
                                    <li class="list_items">Electronic Systems</li>
                                    <li class="list_items">Electronics 1</li>
                                    <li class="list_items">Mathematics 2.1</li>
                                    <li class="list_items">Microcomputer Systems 1</li>
                                    <li class="list_items">Signals and Systems 1</li>
                                    <li class="list_items">Signals and Systems 2</li>
                                    <li class="list_items">Software Design 1</li>
                                </ul>
                            </div>
                            <div class="education_col col-md-4">
                                <h2 class="headers">Year 1</h2>
                                <ul class="technologies_lists education_lists">
                                    <li class="list_items">Communication Skills 1</li>
                                    <li class="list_items">Digital Age Technology</li>
                                    <li class="list_items">Digital Electronics</li>
                                    <li class="list_items">Electric Circuits & Devices 1</li>
                                    <li class="list_items">Electrical Engine Practice 1.1</li>
                                    <li class="list_items">Engineering Problem Solving 1</li>
                                    <li class="list_items">Engineering Problem Solving 2</li>
                                    <li class="list_items">Engineering Science 1.1</li>
                                    <li class="list_items">Mathematics 1.1</li>
                                    <li class="list_items">Prof. Development & Key Skills 1</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

