<div id="projects_fluid" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="github_div">
                <a href="https://github.com/SemajDraw">
                    <img class="github_image" src="../../assets/images/portfolio/tech-icons/github-icon.png">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4 repo-col">
                <a href="">
                    <div class="repo_conatiner">
                        <div class="image_div">
                            <img class="repo_image" src="../../assets/images/portfolio/tech-icons/angular.png">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4 repo-col">
                <a href="">
                    <div class="repo_conatiner">
                        <div class="image_div">
                            <img class="repo_image" src="../../assets/images/portfolio/tech-icons/spring-boot-icon.svg">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4 repo-col">
                <a href="">
                    <div class="repo_conatiner">
                        <div class="image_div">
                            <img class="repo_image" src="../../assets/images/portfolio/tech-icons/cpp-icon.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4 repo-col">
                <a href="">
                    <div class="repo_conatiner">
                        <div class="image_div">
                            <img class="repo_image" src="../../assets/images/portfolio/tech-icons/ionic-logo.png">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4 repo-col">
                <a href="">
                    <div class="repo_conatiner">
                        <div class="image_div">
                            <img class="repo_image" src="../../assets/images/portfolio/tech-icons/django-logo.svg">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4 repo-col">
                <a href="">
                    <div class="repo_conatiner">
                        <div class="image_div">
                            <img class="repo_image" src="../../assets/images/portfolio/tech-icons/python-icon.png">
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
