<div id="info_fluid" class="container-fluid">
    <div id="info_container" class="container">
        <div id="wrapper">
            <div class="text_div row no-gutters">
                <div class="col-12">
                    <table id="text_table" class="table-borderless">
                        <tbody>
                            <tr>
                                <h1 class="info_header">What I've done & what I can do</h1>
                                <br>
                            </tr>
                            <tr>
                                <p class="info_paragraph">Feel free to take a deeper look at what I've
                                    accomplished over the years, the different projects I have worked on,
                                    my education and importantly what I may be able to offer you. My online resume
                                    goes over the standard items please feel free to download a copy for future reference.
                                </p>
                                <br>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class=" button_container container">
                <div class="row no-gutters">
                    <div class="col-12">
                        <table id="button_table" class="table">
                            <tbody>
                                <tr>
                                    <td class="td">
                                        <button class="buttons btn btn-light" (click)="routeToPortfolio()">Portfolio</button>
                                    </td>
                                    <td class="td">
                                        <button class="buttons btn btn-light" (click)="routeToResume()">Resume</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
